[submodule "mvp-annotation"]
	path = mvp-annotation
	url = git@github.com:oxsource/mvp-annotation.git
[submodule "mvp-compiler"]
	path = mvp-compiler
	url = git@github.com:oxsource/mvp-compiler.git
[submodule "mvp"]
	path = mvp
	url = git@github.com:oxsource/mvp.git
